/* $Id: ie7.css 3011 2009-09-09 21:23:32Z cporto $ */
#header,
#header *,
#nav,
#nav *,
#footer,
.block,
.module,
.module h2,
.form-row,
#security-level li,
#aux-nav {
	zoom: 1;
}


#status {
/* 	width: 355px; */
}

#aux-nav,
#aux-nav li {
	list-style-type: disc;
}

.block {
	zoom: 1;
	display: inline;
}

a.btn {
	color: #555 !important;
	padding: 4px 10px;
	line-height: 13px;
	zoom: 1;
}


.btn:hover,
a.btn:hover {
	color: #ffe51e !important;
}

.ie_fix { display: inline-block; }
.ie_fix { display: block; }